
body{
	background-color: #efefef;
}

h1{
	background-color:#81d3f9;
	text-align: center;
	font-size: 30px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0;
}

nav{
	background-color: #4ba2c6;
}

placeholder{
	font-style: italic;
	padding-top: 1em;
}

.yellow{
	background-color: #ffee58;
}

.card{
	float: left;
	margin-left: 2em;
}

/*add button*/
.btn-floating i{
	color:black;
}

/*page numbers*/
.pagination li.active a{
	background-color: #ffee58;
	color: black;
}

.cards{
	display: inline-block;
	box-sizing:border-box;
}

.colorAdd{
	background-color: #ffee58;

}

.colorAdd:hover{
	background-color: #c9bc1f;

}

.card-title:hover{
	background-color: black;
	opacity: 0.50;
}

.card-title{
	width: 220.81px;
	font-size: 10px;

	text-shadow: 1px 1px 1px black;
}

a{
	color:white;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #81d3f9 !important;
	box-shadow: 0 1px 0 0 #81d3f9 !important;
	opacity: 0.50;
}

.container{

}

#textAreaAdd:focus {
    outline: none !important;
    border:1px solid #81d3f9;
    box-shadow: 0 0 1px #81d3f9;
}

.input-field input[type=text]:focus + label {
	color: #ffee58;
}
.pagination{
	text-align: center;
}